# Flutter / Dart
.dart_tool/
.build/
.pub/
build/

# Android
.gradle/
android/.gradle/
android/app/build/
android/app/src/main/jniLibs/
.cxx/

# iOS
ios/Pods/
ios/build/

# Native binaries
*.so
*.dll
*.dylib

# AI models 
*.gguf
*.bin
*.model
models/
assets/models/

# Local config
local.properties
key.properties

# Keystores
**/*.keystore
**/*.jks

# Misc
/captures/
